.page
{
    margin: 0;
}

.header
{
    position: absolute;
}

.header__text
{
    font-family: 'Lora';
    padding-top: 1%;
    margin: 0% 10% 0%;
    font-weight: 400;
    font-size: 26px;
    line-height: 1;
    color: #FFFFFF;
}

.header__menu
{
    margin-top: -2%;
    width: 100%;
    padding-left: 60%;
}

.header__ref
{
    font-size: 17px;
    line-height: 1.18;
    text-decoration: none;
    color: #ffffff;
}

.logo
{
    background: black url("Images/logo.png") no-repeat;
    background-size: 100%;
    height: 500px;
    max-width: 1920px;
    width: 100%;
}

.logo__h1
{
    text-align: center;
    line-height: 51px;
    font-size: 50px;
    font-family: 'Lora';
    font-weight: 400;
    color: #ffffff;
}

.logo__description
{
    text-align: center;
    line-height: 20px;
    font-size: 17px;
    font-family: 'Oxygen';
    font-weight: 400;
    color: #ffffff;
    opacity: 63%;
}

.logo__button
{
    text-align: center;
    margin: 5% 45% auto;
    width: 167px;
    height: 44px;
    background: #DD783F;
    border: 0px;
    border-radius: 3px;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

.menu
{
    max-width: 1920px;
    width: 100%;
    height: 65px;
    word-spacing: 50px;
    text-align: center;
    padding: 20px 0 20px;
    box-sizing: border-box;
}

.menu__ref
{
    text-decoration: none;
    color: #768088;
    line-height: 20px;
    font-size: 14px;
}

.section__h2
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 16px;
    color: #2E2E2E;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
}

.main
{
    background-repeat: no-repeat;
    max-width: 460px;
    width: 100%;
    height: 280px;
    border-radius: 3px;
}

.main_first
{
    background: url("images/image1.png");
}

.main_second
{
    background: url("images/image2.png");
}

.main__button
{
    width: 87px;
    height: 26px;
    background: #DD783F;
    text-align: center;
}

.main__button-text
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__span
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.main__text
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 70%;
}

.author-foto
{
    width: 26px;
}

.main-info__author-date
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #ffffff;
    opacity: 70%;
}

.secondary
{
    width: 296px;
    height: 291px;
    color: #ffffff;
}

.secondary__img
{
    width: 296px;
    height: 150px;
}

.secondary__span
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.secondary__text
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.secondary-info__author-date
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.footer
{
    background: url(images/footer.png);
    max-width: 1920px;
    width: 100%;
    height: 89px;
}

.footer__text
{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
}

.footer__ref
{
    text-decoration: none;
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    color: #ffffff;
    opacity: 60%;
}