<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
  </head>
  <body class="page">


    <header class="heading">
      <span class="heading__title">Escape.</span>
      <nav class="heading-nav">
          <a class="heading-nav__ref" href="#">Home</a>
          <a class="heading-nav__ref" href="#">Categories</a>
          <a class="heading-nav__ref" href="#">About</a>
          <a class="heading-nav__ref" href="#">Contact</a>
      </nav>
    </header>

    <div class="logo">
      <h1 class="logo__title">Let's do it together.</h1>
      <h2 class="logo__description">We travel the world in search of stories. Come along for the ride.</h2>
      <button class="logo__button">View Latest Posts</button>
    </div>
    <div class="menu">
      <a class="menu__ref" href="#">Nature</a>
      <a class="menu__ref" href="#">Photography</a>
      <a class="menu__ref" href="#">Relaxation</a>
      <a class="menu__ref" href="#">Relaxation</a>
      <a class="menu__ref" href="#">Travel</a>
      <a class="menu__ref" href="#">Adventure</a>
    </div>

    <section class="featured-posts">
      <h2 class="featured-posts__heading">Featured Posts</h2>
      {{ range .FeaturedPosts }}
      <div class="featured-post {{ .ImgModifier }}"> 
        <span class="featured-post__heading"><a class="featured-post__title_link" href="/post/{{ .PostID }}">{{ .Title }}</a></span>
        <p class="featured-post__description">{{ .Subtitle }}</p>
        <div class="featured-post-info">
          <div class="author">
            <img class="featured-post-info__author-photo" src="{{ .AuthorImg }}" alt="Face">
            <span class="featured-post-info__author author__name">{{ .Author }}</span>
          </div>
          <span class="featured-post-info__date">{{ .PublishDate }}</span>
        </div>  
      </div>
      {{ end }}
    </section>

    <section class="recent-posts">
      <h2 class="recent-posts__heading">Most Recent</h2>
      {{ range .MostRecentPosts }}
      <div class="recent-post">  
        <img class="recent-post__img" src="{{ .PostImg }}" alt="Air balloon">
        <span class="recent-post__heading"><a class="recent-post__title_link" href="/post/{{ .PostID }}">{{ .Title }}</a></span>
        <p class="recent-post__description">{{ .Subtitle }}</p>
        <div class="recent-post-info">
          <div class="author">
            <img class="recent-post-info__author-photo" src="{{ .AuthorImg }}" alt="Face">
            <span class="recent-post-info__author  author__name">{{ .Author }}</span>
          </div>
          <span class="recent-post-info__date">{{ .PublishDate }}</span>
        </div>  
      </div>
      {{ end }}
    </section>

    <footer class="basement">
      <form class="basement-form">
        <h2 class="basement-form__heading">Stay in Touch</h2>
        <input class="basement-form__input-field" type="text" placeholder="Enter your email address">
        <input class="basement-form__button" type="submit" value="Submit">
      </form>
      <div class="basement-menu">
        <span class="basement-menu__title">Escape.</span>
        <nav class="basement-nav">
          <a class="basement-nav__ref" href="#">Home</a>
          <a class="basement-nav__ref" href="#">Categories</a>
          <a class="basement-nav__ref" href="#">About</a>
          <a class="basement-nav__ref" href="#">Contact</a>
        </nav>
      </div>
    </footer>

   </body>
</html>